*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}
.boxcenter{
    width: 70%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 20px;

}
.mb10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 2%;

}
.demo{
    background-color: antiquewhite;
    min-height: 100px;
}
.header{
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
}
.footer{
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px   ;
}
.header h1{
    margin: 20px;
    font-size: 1.5vw;
}
.menu{
    background-color: black;
    color: #ccc;
    border-radius: 5px;
}
.boxtrai{
    float: left;
    width: 74%;
}
.boxphai{
    float: left;
    width: 24%;
}
.boxtitle{
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
}
.boxcontent{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}
.boxcontent2{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    background-color: #EEE;
}
.boxfooter{
    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.banner{
    min-height: 500px;
    width: 100%;
    text-align: center;
}
.banner img{
    width: 500px;
}
.boxsp{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.boxsp .img{
    min-height: 250px;
    text-align: center;
}
.img .img{
    height: 220px;
}
.menu ul {
    padding :  12px;
}
.menu ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}
.menu ul li a{
    text-decoration: none;
    color: #ccc;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: #fff;
    font-size: 0.9vw;
}
/*box login*/
.formlogin{
    line-height: 150%;  
}
.formlogin input[type="text"],
.formlogin input[type="password"]{
    width: 100%;
    border: 1px #ccc solid;
    padding:  10px;
    border-radius: 5px;
}
.formlogin input[type="checkbox"]{
    border-radius: 5px;
}
.formlogin input[type="submit"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color:white;
    border: 1px #ccc solid;

}
.formlogin input[type="submit"]:hover{
    background-color: #ccc;
    color: #fff;
}
.formlogin li a{
    color: blue;
    text-decoration: none;
}
.formlogin li a:hover{
    color: red;
}   
/* menu */
.menudoc ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menudoc ul li{
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px #ccc solid;
}
.menudoc ul li a{
    text-decoration: none;
    color: #666;
}
.menudoc ul li a:hover{
    background-color: #ccc;
}
.searbox input[type="text"]{
    width: 100%;
    border: 1px #ccc solid;
    padding:  10px;
    border-radius: 5px;
}
.top5 img{
    width: 20%;
    height: 50%;
    float: left;
    margin-right: 10px;
}
.top5 a{
    color: #666;
    text-decoration: none;
}
.top5 a:hover{
    color: #000;
}
/*ADMIN*/
.headeradmin{
    background-color: aquamarine;
    border: 1px #090 solid;
    color: #666;
    border-radius: 5px;
    padding: 10px 20px;
}
.headeradmin h1{
    margin: 0;
    font-size: 1.5vw;
}